body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://raw.githubusercontent.com/CaioImbroisi/NumberSouls/main/img/fundods.webp");
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: White;
  margin: 0 0 5px;
  font-size: 70px;
  background: rgba(25, 25, 25, 0.5);
}
.souls-sub {
  color: yellow;
  margin: 0 0 5px;
  font-size: 20px;
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  background-color: black;
  background: rgba(25, 25, 25, 0.5);
}

.page-subtitle {
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}
